* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &, ::after, ::before {
    box-sizing: border-box;
  }

  .app {
    width: 100%;
    margin: 0 auto;
    background-color: cadetblue;

    @media (max-width: 1440px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

