.app {
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;

  @media (max-width: 1699px) {
    width: 90%;
  }

  @media (max-width: 1599px) {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: 1439px) {
    padding: 20px 48px;
  }

  @media (max-width: 1023px) {
    padding-left: 36px;
    padding-right: 36px;
  }

  @media (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: 340px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

