@import '../../common/styles/Variablies';

.calculatorBlock {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .title {
    width: 100%;

    h1 {
      font-family: Nekst;
      font-size: 54px;
      line-height: 90%;

      @media (max-width: 1599px) {
        width: 700px;
      }
      @media (max-width: 767px) {
        width: 292px;
        font-size: 34px;
      }
    }
  }

  .inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 44px;

    @media (max-width: 1439px) {
      flex-wrap: wrap;
      margin-top: 28px;
      margin-bottom: 21px;
    }

    @media (max-width: 767px) {
      margin-top: 24px;
      margin-bottom: 6px;
    }

    .percentagesLabel {
      bottom: 33px;

      .initialFeeLabel {
        position: absolute;
        left: -61px;
        font-family: Nekst;
        font-size: 20px;
        line-height: 120%;
        text-align: right;
        color: $secondColor;
        background: #EBEBEC;
        border-radius: 16px;
        padding: 15px 17px;
        bottom: -19px;
        width: 74px;
        border: none;

        @media (max-width: 767px) {
          padding: 12px 13px;
          bottom: -20px;
          color: $miniColor;
        }

        &:focus {
          outline: none;
          background-color: $color;
        }
      }
    }

    .secondInput {
      &:focus {
        background-color: $bgInput;
      }
    }
  }

  .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 1439px) {
      justify-content: left;
    }

    div {
      display: inline-block;
      width: 427px;

      @media (max-width: 1023px) {
        width: 300px;
      }

      @media (max-width: 767px) {
        width: 100%;
      }

      p {
        font-size: 16px;
        line-height: 150%;
        color: $secondColor;

        @media (max-width: 1439px) {
          color: #333333;
        }

        @media (max-width: 767px) {
          font-size: 14px;
          line-height: 136%;
        }
      }

      span {
        font-family: Nekst;
        font-size: 54px;
        line-height: 90%;
        color: $secondColor;

        @media (max-width: 1439px) {
          color: #333333;
        }

        @media (max-width: 767px) {
          font-size: 22px;
          line-height: 20px;
        }

      }
    }

    div:nth-child(2) {

      @media (max-width: 1439px) {
        margin-left: 70px;
        width: 300px;
      }

      @media (max-width: 1023px) {
        margin-left: 50px;
      }

      @media (max-width: 767px) {
        margin-left: 0;
        margin-top: 29px;
      }
    }

    .buttonBlock {
      @media (max-width: 1439px) {
        width: 100%;
        margin-top: 44px;
      }
      @media (max-width: 767px) {
        margin-top: 32px;
      }
    }
  }
}