@import '../../styles/Variablies';

.inputBlock {
  position: relative;
  display: inline-block;
  width: 427px;
  height: 119px;
  flex: none;
  order: 0;
  flex-grow: 0;

  @media (max-width: 1439px) {
    width: 100%;
    margin: 16px 0;
  }

  @media (max-width: 767px) {
    margin: 8px 0;
    height: 96px;
  }

  p:nth-child(1) {
    font-size: 16px;
    line-height: 20px;
    color: $secondColor;

    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 136%;
      color: $miniColor;
    }
  }

  input:nth-child(2) {
    position: relative;
    top: 23px;
    background: $bgInput;
    border: 2px solid $bgInput;
    border-radius: 16px;
    width: 100%;
    height: 68px;
    font-family: Nekst;
    font-size: 30px;
    line-height: 36px;
    color: $secondColor;
    padding-left: 20px;

    @media (max-width: 767px) {
      height: 60px;
      top: 10px;
      color: $miniColor;
      font-size: 22px;
      line-height: 20px;
    }

    &:focus {
      outline: none;
      background-color: $color;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  p:nth-child(3) {
    position: absolute;
    text-align: right;
    display: inline-block;
    right: 20px;
    bottom: 24px;
    font-family: Nekst;
    font-size: 30px;
    line-height: 36px;
    color: $secondColor;

    @media (max-width: 767px) {
      bottom: 19px;
      color: $miniColor;
    }
  }

  .wrapper {
    width: 100%;
    position: relative;
    z-index: 5;
    bottom: -9px;
    padding-left: 20px;
    padding-right: 20px;

    @media (max-width: 767px) {
      bottom: 4px;
    }

    .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 2px;
      background-color: $bgElement;
      outline: none;
      -webkit-transition: .2s;
      transition: opacity .2s;
      margin: 12px 0 5px 0;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      &::-webkit-slider-thumb {
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background: $bgElement;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
    }

  }
}

.disabled {
  opacity: 50%;
}


