@import '../../styles/Variablies';

.inputBlock {
  position: relative;
  display: inline-block;
  width: 427px;
  height: 119px;
  background-color: darkgray;
  margin-top: 30px;

  flex: none;
  order: 0;
  flex-grow: 0;

  margin-left: 20px;
  margin-right: 20px;

  @media (max-width: 1440px) {
    width: 100%;
    margin-left: 0;
  }

  p:nth-child(1) {
    font-size: 16px;
    line-height: 20px;
    color: $secondColor;
  }

  input:nth-child(2) {
    position: relative;
    top: 23px;

    background: $bgInput;
    border: 2px solid $bgInput;
    border-radius: 16px;

    width: 403px;
    height: 58%;

    font-family: Nekst;
    font-size: 30px;
    line-height: 36px;
    color: $secondColor;
    padding-left: 20px;

    @media (max-width: 1440px) {
      width: 100%;
    }

    &:focus {
      outline: none;
      background-color: $color;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  p:nth-child(3) {
    position: absolute;
    text-align: right;
    display: inline-block;
    left: 80%;
    bottom: 21px;
    font-family: Nekst;
    font-size: 30px;
    line-height: 36px;
    color: $secondColor;

    @media (max-width: 1440px) {
      right: 20px;
      left: 0;
    }
  }

  .wrapper {
    width: 385px;
    position: relative;
    z-index: 5;
    bottom: -8px;
    left: 20px;

    .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 2px;
      background-color: $bgElement;
      outline: none;
      -webkit-transition: .2s;
      transition: opacity .2s;
      margin: 12px 0px 5px 0px;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      &::-webkit-slider-thumb {
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background: $bgElement;
      }
    }

  }


}


.disabled {
  opacity: 50%;
  cursor: not-allowed;
}


