* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gilroy';
}

* ::after, ::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Nekst';
    src: local('Nekst Black'), local('Nekst-Black'),
    url('./assets/fonts/Nekst-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Light'), local('Gilroy-Light'),
    url('./assets/fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}